.box{
    border:2px solid red;
    width:200px;
    height:200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.box h2{
    margin: 0;
}
.box p{
    font-size: 2rem;
    font-weight: bold;
}
.box button{
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
}