.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 5%;
    justify-items: center;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
